body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*STYLING FOR THE BANNER*/
.land-page .landing-image{
	width: 100%;
	height: 100vh;
	background-image: url("../images/landing-image.jpg");
	background-size: cover;
}
.land-page .landing-image nav ul{
	width: 40%;
	float: right;
}
.land-page .landing-image nav ul li{
	float: left;
	list-style-type: none;
	padding-top: 1em;
}
.land-page .landing-image nav ul li a{
	font-size: 1.2em;
	color: #e3e3e3;
	padding: 1em;
	text-decoration: none;
	font-family: sans-serif;
	text-transform: uppercase;
}
.land-page .landing-image nav ul li a.currentSub{
	color: #fff;
}

/*STYLING FOR THE STATIC HEADER*/
header{
	position: fixed;
	overflow: hidden;
	background: #fff;
	width: 100%;
	transition: 0.5s;
	height: 0;
}
header .logo, header .navigation{
	width: 50%;
	float: left;
	height: 100%;
}
header .logo img{
	width: 20%;
	margin-left: 10%;
}
header .navigation nav ul{
	float: right;
	width: 100%;
	height: 90px;
	margin-top: 1px;
}
header .navigation nav ul li{
	float: left;	
	display: inline-block;
	height: 90px;
	width: 20%;
	margin-left: 4.9%;
	padding-top: auto;
	padding-bottom: auto;
	text-align: center;
}
header .navigation nav ul li a{
	color: #999;
	font-size: 1.2em;
	font-family: sans-serif;
	text-decoration: none;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 20px;
	width: 100%;
}
header .navigation nav ul li a.current{
	outline: #09f solid 1px;
}

/*STYLING FOR THE CONTENT*/
.content{
	text-align: center;
}

/*STYLING FOR THE FOOTER*/
footer{
	width: 100%;
	height: 35vh;
	background: #000;
}
footer > div{
	width: 33.33%;
	float: left;
}
footer .nav-foot .logo-foot,footer > div .logo-right-foot{
	float: left;
}
footer .nav-foot .logo-foot{
	width: 25%;
}
footer .nav-foot .logo-right-foot{
	width: 75%;
}
footer .nav-foot .logo-foot img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0.7em 0 auto 4em;
}
footer .nav-foot .logo-right-foot p{
	font-size: 1.2em;
	font-style: italic;
	color: #e3e3e3;
}
footer .nav-foot ul{
	width: 90%;
	margin-left: 10%;
}
footer .nav-foot ul li{
	width: 100%;
	padding: 0.3em 0 0.3em 0;
	color: #fff;
}
footer .nav-foot ul li a{
	text-decoration: none;
	color: #bbb;
	letter-spacing: 0.1em;
	transition: 0.5s;
}
footer .nav-foot ul li a:hover{
	color: #fff;
}
footer .social-det-foot .social, footer .social-det-foot .det{
	width: 100%;
	color: #fff;
	text-align: center;
}
footer .social-det-foot .social i{
	font-size: 1.5em;
	width: 10px;
	height: 10px;
	padding: 0.5em 0.6em 0.8em 0.5em;
	text-align: center;
	margin: 1em 0.5em auto 0.5em;
	transition: 0.5s;
	color: #fff;
}
footer .social-det-foot .social i.fa-facebook:hover{
	background: #00f;
	padding: 0.3em 0.55em 0.7em 0.45em;
}
footer .social-det-foot .social i.fa-instagram:hover{
	background: linear-gradient(to top right,#fccc63,  #fbad50, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
	padding: 0.3em 0.75em 0.8em 0.35em;
}
footer .social-det-foot .social i.fa-telegram:hover{
	background: #08c;
	padding: 0.3em 0.85em 0.8em 0.25em;
}
footer .social-det-foot .social i.fa-pinterest:hover{
	background: #C92228;
	padding: 0.2em 0.85em 0.8em 0.25em;
}
footer .social-det-foot .social i.fa-twitter:hover{
	background: #00ACED;
	padding: 0.3em 0.8em 0.8em 0.3em;
}
footer .social-det-foot hr{
	width: 25%;
	margin-left: 37.5%;
	margin-bottom: -1em;
}
footer .social-det-foot .det h1{
	margin-top: 2em;
	letter-spacing: 0.2em;
}
footer .contact-foot form label, footer .contact-foot form input{
	display: block;
}
footer .contact-foot form label{
	color: #fff;
	margin-top: 1em;
}
footer .contact-foot form input[type="text"], footer .contact-foot form textarea{
	width: 90%;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 0.3em;
	background: rgba(10,10,10,1);
	color: #fff;
	transition: 0.5s;
}
footer .contact-foot form input[type="text"]:focus, footer .contact-foot form textarea:focus{
	background: #333;
	outline: 1px solid #999;
}
footer .contact-foot form textarea{
	height: 4em;
}
footer .contact-foot form .submit{
	margin-right: 8%;
	margin-left: auto;
	width: 20%;
	padding: 2%;
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
	margin-top: 0.5em;
	transition: 0.5s;
}
footer .contact-foot form .submit:hover{
	background: #003;
	color: #fff;
	border: 1px solid #999;
	transform: scale(1.1);
	letter-spacing: 0.1em;
	cursor: pointer;
}